body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

/* Only allow page to take up certain width, and center content in width */
.limit-width {
    max-width: 1060px;
    margin: 0 auto;
    padding: 0px
}

.top {
    color: #f9faf8;
    padding-bottom: 64px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 16px;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: extra-bold;
    margin-top: 0;
}

.hero-text p {
    font-size: 18px;
    color: #E5E7Eb;
}

.button {
    background-color: #3882F6;
    padding: 8px 32px;
    color: #f9faf8;
    font-size: 18px;
    text-align: center;
    border-radius: 8px;
    border: none;
}

.hero {
    display: flex;
    padding-top: 64px;
    gap: 32px;
}

.hero-image img {
    max-width: 100%;
}

.info {
    background-color: white;
}

h2 {
    font-size: 36px;
    color: #1f2937;
    text-align: center;
}

.square-content {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.square {
    height: 100px;
    width: 100px;
    border: solid #3882F6 2px;
    border-radius: 8px;
}

.square-content p {
    max-width: 100px;
    text-align: center;
}

/* Section colors and padding */
 
.dark-blue {
    background-color: #1f2937;
}



